# Gradle
.gradle/
build/

# Maven
target/
dependency-reduced-pom.xml

# Kotlin compiler logs
.kotlin/

# Android
local.properties
app/gradle.local.properties
app/release.keystore
*.keystore
*.jks

# IDE
.idea/
*.iml

# macOS
.DS_Store
